<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestMtgSdkDotnet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TestMtgSdkDotnet.Properties.Settings>
      <setting name="ListOfSetLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ListOfSetSize" serializeAs="String">
        <value>100, 200</value>
      </setting>
      <setting name="ListOfCardsLocation" serializeAs="String">
        <value>10, 10</value>
      </setting>
      <setting name="ListOfCardsSize" serializeAs="String">
        <value>100, 200</value>
      </setting>
      <setting name="ListOfImagesLocation" serializeAs="String">
        <value>20, 20</value>
      </setting>
      <setting name="ListOfImagesSize" serializeAs="String">
        <value>100, 200</value>
      </setting>
      <setting name="ViewUserInputLocation" serializeAs="String">
        <value>30, 30</value>
      </setting>
      <setting name="ViewUserInputSize" serializeAs="String">
        <value>100, 200</value>
      </setting>
      <setting name="ViewImageLocation" serializeAs="String">
        <value>40, 40</value>
      </setting>
      <setting name="ViewImageSize" serializeAs="String">
        <value>100, 200</value>
      </setting>
    </TestMtgSdkDotnet.Properties.Settings>
  </userSettings>
</configuration>
